body {
  background-color: #ffffff;
  margin: 10px;
  padding: 8px;
  border: 20px;
  border-color: #efefef;
  border-style: solid;
}

/* Styles ALL h1s on your webpage*/

h2 {
  color: #000000;
  font-family: Arial;
}
a {
  text-decoration: none;
  color: red;
  font-family: Verdana;
  font-size: 13px;
}

.source p {
  font-size: 10px;
  color: #666666;
}

.intro {
  height: 100%;
  background-image: url("https://i0.wp.com/www.director.co.uk/wp-content/uploads/2016/05/EU-flag-union-jack-EU-referendum.jpg?w=1000&ssl=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8px;
}

.intro h1{

    position: inherit;
    bottom: 8px;
    left: 16px;
    font-size: 200px;
    color: white;
    margin: 0;

}
.container {
  /*flexbox*/
   display: flex;
   justify-content: center;


  /*styling*/
   background: #ffffff;

 }

 .teaser {
   /*flexbox to center content in boxes*/


   /*styling*/
   width: 100%;
   height: 100%;
   margin: 10px;
   background: #ffffff;
 }

 .teaser img {
   width: 100%;
 }

 .teaser a {
     font-size: 14px;
 }

.boxar {
  /*flexbox*/
   justify-content: center;

}
.boxar h2 {
  font-family: Arial;
  font-size: 24px;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: auto;
}
